.card {
  border: 2px solid var(--brand-purple);
  padding: 0 16px 16px 16px;
  margin: 8px;
  box-shadow: 6px 6px 0px rgba(0,0,0,0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 188px;
  height: 260px;
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;

  &:hover {
    transform: translate(-4px, -4px);
    box-shadow: 10px 10px 0px rgba(0,0,0,0.1);
  }

  & canvas {
    width: 150px;
    height: 150px;
    margin: 20px 0 0 0;
  }

  & h3 {
    font-size: 16px;
    color: var(--brand-dark-purple);
    margin: 0 0 12px 0;
    font-weight: 600;
    font-family: inherit;
  }

  & .cart-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--brand-purple);
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    padding: 8px 16px 10px 16px;
    text-align: center;
    z-index: 1;
  }
}
